.header{
    height: 100%;
    width: 100%;
    display: flex;
    border: 1px solid gray;
    .main{
        width: 100%;
        background-color : #3498DB;
        justify-content: flex-start;
        .title{
            padding: 40px;
            color: white;
            font-family: roboto;
            font-size: large;
            font-size: 30px;
            text-align: center;
        }
    }
    
}